/node_modules
/public/hot
/public/frontend
/public/backend
/public/storage
/storage/*.key
/vendor
/storage/framework
/storage/logs
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
docker/web/logs/access.log
docker/web/logs/error.log
docker/web/logs/error.log
*.log
