.btn-table-actions {
  display: inline-block;
  width: 50%;
  text-align: center;
  padding: 0;
  margin: 0 !important;
}

.table-admin.vertical-middle {
  td {
    vertical-align: middle !important;
    position: relative;
  }
}

.dataTables_wrapper .dt-buttons {
  float: left !important;
  padding-bottom: 10px;
  position: sticky;
  left: 0px;
}